* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: black;
}

/* Soluzione #1: position fixed */
/*
main {
  height: 100%;
  background-color: grey;
}

 .main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: calc(100% - 90px);
  padding: 20px;
  background-color: yellow;
  overflow-y: hidden;
}

.main-content {
  width: calc(100% - 250px);
  height: calc(100% - 90px);
  margin-left: 250px;
  padding: 20px;
  background-color: orange;
  overflow-y: scroll;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: brown;
} */

/* Soluzione #2: Float */

/* main {
  height: calc(100% - 90px);
  background-color: grey;
  overflow-y: hidden;
}
main::after {
  content: "";
  display: table;
  clear: both;
}
.main-nav {
  float: left;
  width: 250px;
  height: 100%;
  padding: 20px;
  background-color: yellow;
  overflow-y: hidden;
}
.main-content{
  float: left;
  height: 100%;
  width: calc(100% - 250px);
  padding: 20px;
  background-color: orange;
  overflow-y: scroll;
}
footer {
  width: 100%;
  height: 90px;
  background-color: brown;
} */

/* Soluzione #3: Flex */

main {
  display: flex;
  height: calc(100% - 90px);
  background-color: grey;
  overflow-y: hidden;
}
.main-nav {
  width: 250px;
  /* height: 100%; */
  padding: 20px;
  background-color: yellow;
  overflow-y: hidden;
}
.main-content{
  /* height: 100%; */
  width: calc(100% - 250px);
  padding: 20px;
  background-color: orange;
  overflow-y: scroll;
}
footer {
  width: 100%;
  height: 90px;
  background-color: brown;
}
